$primary-color: #252839;
$secondary-color: #677077;
//$tertiary-color: #b5b5b7;
$tertiary-color: #ffffff;
$quaternary-color: #f2b632;
$primary-font-color: #ffffff;
$secondary-font-color: $primary-color;

$body-font-family: 'Lato', sans-serif;
$title-font-family: 'Lobster', cursive;
